.header {
    background-color: black;
    padding-bottom: 20px;
    grid-column: 1 / 5;
}

.Club {
    text-align: center;
    font-family: Aharoni;
    font-size: 30px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: aliceblue;
}

.formSummaryError {
    padding: 5px;
    color: red;
}